.project-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
  margin: 1rem;
  max-width: 700px;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.project-image {
  width: 100%;
  border-radius: 8px;
}

.project-title {
  font-size: 2.2rem;
  font-family: 'Arial Black', sans-serif;
  font-weight: bold;
  margin-top: 0.5rem;
}

.project-description {
  font-size: 1.5rem;
  font-family: 'Arial Black', sans-serif;
  font-weight: bold;
  margin-top: 0.5rem;
}

.project-link {
  display: inline-block;
  margin-top: 0.75rem;
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.project-link:hover {
  text-decoration: underline;
  color: #06cb76;
}